# (pip install ~~)
python==3.7.9
django
django_celery_results
pip
pandas
numpy
tensorflow
pillow
cffi
argon2-cffi
celery
redis
mysqlclient
transformer
konlpy
eventlet
# (pip install git+https://github.com/ssut/py-hanspell.git)
hanspell
# (conda install ~~)
PIL
