/* CAFE IMAGE */
.cafe-image{
    position: relative;
    height: 620px;
}

.cafe-image .inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}


.cafe-image .inner .swiper-container{
    width: 1100px;
    height: 620px;
    position: absolute;
}

.cafe-image .inner .swiper-slide{
    width: 1100px;
    height: 620px;
    opacity: 0;
    transition: opacity .3s;
    position: relative;
    left: 50%;
    transform: translate(-50%);
} 
.cafe-image .inner img{
    width: 1100px;
    height: 620px;
    
} 

.cafe-image .inner .swiper-slide-active{
    opacity: 1;
}

.cafe-image .inner .swiper-prev,
.cafe-image .inner .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    top: calc(550px / 2);
    /* transform: translateY(-50%); */
    position: absolute;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s; 
}

/* CAFE-INFO */
.cafe-info {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

.cafe-info .store-name{
    font-size: 40px;
    margin: 50px 0;
}

.cafe-info .row{
    justify-content: center;
}
.cafe-info .store-info{
    height: 500px;
    position: relative;
    border: 3px solid black;
    width: 40%;
    margin-right: 5%;
}

.cafe-info .store-info .address{
    margin-top: 15px;
}

.cafe-info .map{
    border: 3px solid black;
    width: 40%;
}