<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Acachu</title>
        <link rel="icon" href="{% static 'image/favicon.ico' %}" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

        <!--modal-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/common.css'%}">
        <link rel="stylesheet" href="{% static 'css/modal.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">

        <!-- LODASH -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
        <!-- GSAP & scrollToPlugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js" integrity="sha512-agNfXmEo6F+qcj3WGryaRvl9X9wLMQORbTt5ACS9YVqzKDMzhRxY+xjgO45HCLm61OwHWR1Oblp4QSw/SGh9SA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- ScrollMagic -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script defer src="{% static 'js/common.js'%}"></script>
        <script defer src="{% static 'js/send.js'%}"></script>
        <script type="text/javascript"> 
            var gif = "{% static 'image/loadingImg.gif'%}";
            var imageurl = '{% url "imageadd" %}'
        </script>
    </head>
<body>
	<!-- HEADER -->
    {% include "main/header.html" %}


    <div>
        <div class="title">카페 이미지 추천</div>
        <hr style='width:400px'>
        <div class='sub'>원하는 분위기의 이미지를 올려주세요</div>
    </div>

    <form action="{% url 'imageadd' %}" method="POST" enctype="multipart/form-data" id="imageform">
        {% csrf_token %}
        <!-- 주소 -->
        <input type='hidden' id='sido' name='sido' value="{{ sido }}">
        <input type='hidden' id='sigg' name='sigg' value="{{ sigg }}">
        <input type='hidden' id='emdong' name='emdong' value="{{ emdong }}">
        <input type='hidden' id="adress" name='adress' value="{{ road_address }}">

         <!-- 이미지 -->
        <div class='imgzip'>
            <input type="file" class = 'real-upload' id="upload_file1" accept="image/*" name='upload_file1' style="display: none;">
            <img src="{% static 'img/uppic.png'%}" id="img_section1" class='upload img'>
        </div>

        <!-- 이미지 검색-->
        <div class='is-btn_div'>
            <input type="submit" id='imgsubmit' class = 'is-btn is-btn--black' value="카페 검색">
        </div>
    </form>
    <!-- 파일 선택 및 미리보기-->
    <script>
        const realUpload = document.querySelector('.real-upload');
        const upload = document.querySelector('.upload');
        var test = document.querySelector('#img');
        // 파일이 이미지가 아니면 경고
        upload.addEventListener('click', () => realUpload.click());
        const reader = new FileReader();

        // 첫 번째 사진
        reader.onload = (readerEvent) => {
            document.querySelector("#img_section1").setAttribute("src", readerEvent.target.result);
            //파일을 읽는 이벤트가 발생하면 img_section의 src 속성을 readerEvent의 결과물로 대체함
        };

        document.querySelector("#upload_file1").addEventListener("change", (changeEvent) => {
            //upload_file 에 이벤트리스너를 장착

            const imgFile = changeEvent.target.files[0];
            reader.readAsDataURL(imgFile);
            //업로드한 이미지의 URL을 reader에 등록
        });
    </script>

    <!-- FOOTER -->
    {% include 'main/footer.html' %}
</body>
</html>