<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AuthManaged</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
        <script
            src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        <!--modal-->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/common.css'%}">
        <link rel="stylesheet" href="{% static 'css/modal.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">

        <!-- LODASH -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

        <!-- GSAP & scrollToPlugin -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
            integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js"
            integrity="sha512-agNfXmEo6F+qcj3WGryaRvl9X9wLMQORbTt5ACS9YVqzKDMzhRxY+xjgO45HCLm61OwHWR1Oblp4QSw/SGh9SA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

        <!-- ScrollMagic -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"
            integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script> 

    </head>
    <body>
        <!-- HEADER -->
        {% include "main/header.html" %}

        <!-- SIDE BAR -->

        <div class="container"  style='margin-bottom:100px'>
            <div class="main-body">
                <nav aria-label="breadcrumb" class="main-breadcrumb"  style='margin-bottom:50px; margin-top:80px'>
                    <h2>업주 관리</h2>
                    <hr>
                    <div onclick="location.href='/details/?store_id={{store_id}}'" class='is-btn is-btn--black' style='text-align:center'>우리 가게</div>
                </nav>

                <div class="row gutters-sm" style='justify-content:center; '>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body" style='height:500px;width:500px; padding:50px 10px 10px 50px'>
                                    <div class="line-item hf-item-odd clearfix">
                                        <div class="row">
                                            <div class="row-8">
                                                <b>최신 리뷰</b>
                                                <hr style='width:450px'>
                                                <div class="row" style='margin-left:10px'>
                                                    {% for review in reviews %}
                                                        <a style="display:inline-block; width:400px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:left">
                                                            {{review.review_content}}
                                                            <hr>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                <br>
                                    <div class="line-item hf-item-odd clearfix">
                                        <div class="row">
                                            <div class="row-8">
                                                <b>추천 태그</b>
                                                <hr style='width:450px'>
                                                <div class="row" style='margin-left:10px'>
                                                    {% for tag in tags %}
                                                        <a class = 'au-tag' style="display:inline-block; width:150px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center">
                                                            {{tag.tag.tag_name}}
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!--테이블 형태-->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body" style='height:500px'>
                                <br>
                                <table class="table">
                                    <h5 style='text-align:center; margin-bottom:20px'>업장 수정 요청 게시판</h5>
                                    <thead class="thead-light">
                                    <tr class="text-center">
                                        <th scope="col">제목</th>
                                        <th scope="col">작성일</th>
                                        <th scope="col">답변여부</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for board in posts %}
                                    <tr class="text-center">
                                        <td>
                                            <a href="/post/{{ board.ab_id }}">
                                                <span>{{ board.ab_title }}</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span>{{ board.ab_reg_date | date:"Y-m-d h:i" }}</span>
                                        </td>
                                        <td>
                                            {% if board.ab_reply_yn == 0 %}
                                            <span>N</span> <!-- 답변여부-->
                                            {% elif board.ab_reply_yn == 1%}
                                            <span>Y</span> <!-- 답변여부-->
                                            {% endif%}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div style="text-align:center">
                                    <div class="pagination">
                                            <div style="width:35%; margin: 5px;">
                                            {% if posts.has_previous %}
                                                <a href="?store_id={{store_id}}&page={{posts.previous_page_number}}">이전</a>
                                            {% endif %}
                                            </div>
                                            <div style="width:30%; margin: 5px;">
                                            {% for p in posts.paginator.page_range %}
                                                <a href="?store_id={{store_id}}&page={{p}}" class="mx-1">{{p}}</a>
                                            {% endfor %}
                                            </div>
                                            <div style="width:35%; margin: 5px;">
                                            {% if posts.has_next %}
                                                    <a href="?store_id={{store_id}}&page={{posts.next_page_number}}">다음</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class='row' style='margin-top:10px'>
                                    <div class="col-md-12" align="right">
                                        <a class="btn btn-primary" href="/post" role="button">글쓰기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- FOOTER -->
    {% include 'main/footer.html' %}
</body>
</html>