<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="stylesheet" href="..\..\static\css\main.css">
	<link rel="stylesheet" href="..\..\static\css\common.css">
  
  <!-- SWIPER -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  
  <script defer src="..\..\static\js\main.js"></script>

</head>
<body>
	<!-- HEADER -->
	<header>
		<div class="inner">
      <div class="menu">
  			<span class="material-icons">menu</span>
      </div>
			<div class="logo">
        <img src="..\..\static\image\logo.png" alt="logo">
      </div>
      <div class="btn btn--white">
        <div class="login">Login</div>
      </div>
		</div>
	</header>

	<!-- RECOMMEND -->
	<section class="recommend-store">
		<div class="inner">
		  <div class="medal">
			<div class="front">
			  <img src="..\..\static\image\reserve_store_medal_front.png" alt=""/>
			</div>
			<div class="back">
			  <img src="..\..\static\image\reserve_store_medal_back.png" alt="">
			  <a href="javascript:void(0)" class="btn">카페 추천</a>
			</div>
		  </div>
		</div>
	</section>

  <!-- CAFE IMAGE -->
  <section class="cafe-image">
    <div class="cafe-recommend-title">
      <div class="title">어디가지 카페 추천</div>
    </div>
    <div class="cafe-recommend">
      <div class="inner">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="..\..\static\image\cp1.jpg" alt=""/>
            </div>
            <div class="swiper-slide">
              <img src="..\..\static\image\cp2.jpg" alt=""/>
            </div>
            <div class="swiper-slide">
              <img src="..\..\static\image\cp3.jpg" alt=""/>
            </div>
            <div class="swiper-slide">
              <img src="..\..\static\image\cp4.jpg" alt=""/>
            </div>
            <div class="swiper-slide">
              <img src="..\..\static\image\cp5.jpg" alt=""/>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-prev">
        <div class="material-icons">arrow_back</div>
      </div>
      <div class="swiper-next">
        <div class="material-icons">arrow_forward</div>
      </div>
  </div>
  </section>

</body>
</html>