/* RECOMMEND */
.recommend-store {
    background-image: url("../image/recommend_back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.recommend-store .inner {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommend-store .medal {
    position: relative;
    width: 334px;
    height: 334px;
    perspective: 600px;
}

.recommend-store .medal .front,
.recommend-store .medal .back {
    position: absolute;
    width: 334px;
    height: 334px;
    backface-visibility: hidden;
    transition:  1s;
}

.recommend-store .medal .front{
    transform: rotateY(0deg);
}

.recommend-store .medal:hover .front{
    transform: rotateY(180deg);
}

.recommend-store .medal .back{
    transform: rotateY(-180deg);
}

.recommend-store .medal:hover .back{
    transform: rotateY(0deg);
    
}

.recommend-store .medal .back .accbtn {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    text-decoration : none;
}

/* CAFE IMAGE */
.cafe-image{
    position: relative;
}

.cafe-image .cafe-recommend-title{
    font-size: 50px;
    width: fit-content;
    margin : 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

.cafe-image .cafe-recommend-title .title{
    margin-bottom: 100px;
    text-align: center;
}

.cafe-image .cafe-recommend-title p{
    font-size: 30px;
    text-align: center;
}

.cafe-recommend {
    background-color: #101010;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.cafe-recommend .inner{
    width: 1100px;
    height: 800px;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
}

.cafe-recommend .swiper-container{
    width: 1100px;
    height: 400px;
    position: absolute;
    top: 40px;
}

.cafe-recommend .swiper-slide{
    width: 300px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s;
    position: relative;
} 
.cafe-recommend img{
    width: 300px;
    height: 200px;
} 

.cafe-recommend .title{
    color: #fff;
    margin: 30px 0;
}

.cafe-recommend .content{
    color: #fff;
}
.cafe-recommend .swiper-slide-active{
    opacity: 1;
}

.cafe-recommend .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.cafe-recommend .swiper-prev,
.cafe-recommend .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s; 
}

.cafe-recommend .swiper-prev {
    left: 50%;
    margin-left: -700px;
    color: #fff;
}

.cafe-recommend .swiper-next {
    right: 50%;
    margin-right: -700px;
    color: #fff;
}

.cafe-recommend .swiper-prev:hover,
.cafe-recommend .swiper-next:hover {
    background-color: #fff;
    color: #101010
}

/*my page*/
.mp-link{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}