.modal-login {
    width: 330px;
}

.modal-login .modal-content {
    padding: 19px;
    border-radius: 5px;
    border: none;
}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
}

.modal-login h4 {
    color: #636363;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
}

.modal-login .modal-content {
    color: #999;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.modal-login .form-group {
    margin-bottom: 20px;
}

.modal-login label {
    font-weight: normal;
    font-size: 13px;
}

.modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.modal-login .form-control:focus {
    border-color: #ccc;
}

.modal-login .input-group-addon {
    max-width: 30px;
    text-align: center;
    background: none;
    border-bottom: 1px solid #ced4da;
    padding-right: 3px;
    border-radius: 0;
}

.modal-login .btn,
.modal-login .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: #cc6600 !important;
    border-radius: 3px;
    border: none;
    min-width: 140px;
}

.modal-login .btn:hover,
.modal-login .btn:focus {
    background: #cc6600 !important;
}

.modal-login .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}

.modal-login .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
}

.modal-login a {
    color: #fff;
    text-decoration: underline;
}

.modal-login a:hover {
    text-decoration: none;
}

.modal-login a {
    color: #cc6600;
    text-decoration: none;
}

.modal-login a:hover {
    text-decoration: underline;
}

.modal-login .fa {
    font-size: 21px;
    position: relative;
    top: 6px;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
    
}

.btn .btnprimary{
    width: 100%;
}

/*sign up modal*/
.form-control,
.form-control:focus,
.input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}

.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    text-align: center;
}

.signup-form .lead {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form label {
    font-weight: normal;
    font-size: 13px;
}

.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
}

.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 5px;
}

.signup-form .btn,
.signup-form .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d !important;
    border-radius: 3px;
    border: none;
    min-width: 140px;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
    background: #179b81 !important;
}

.signup-form a {
    color: #19aa8d;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}

.signup-form .fa {
    font-size: 21px;
    position: relative;
    top: 8px;
}

.signup-form .fa-paper-plane {
    font-size: 17px;
}

.signup-form .fa-check {
    color: #fff;
    left: 9px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}